.container{
    margin-bottom: 2rem;
    padding: 2rem;
}

h2{
    text-align: center;
}

form{
    text-align: center;
}

main {
    height: 100%; /* ou une valeur appropriée */
    overflow: auto; /* ou overflow: scroll; */
}
