<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Formulaire d'inscription</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text"  class="form-control" id="nom" formControlName="nom" placeholder="Entrer votre nom" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text"  class="form-control" id="prenom" formControlName="prenom" placeholder="Entrer votre prénom" required>
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number"  class="form-control" id="age" formControlName="age" placeholder="Entrer votre age" required>
          </div>
          <div class="form-group">
            <label for="sexe">Sexe:</label>
            <select class="form-control" id="sexe" formControlName="sexe" required>
              <option value="homme">Homme</option>
              <option value="femme">Femme</option>
            </select>
          </div>
          <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" class="form-control" id="adresse" formControlName="adresse" placeholder="Entrer votre adresse" required>
          </div>
          <div class="form-group">
            <label for="mail">Mail:</label>
            <input type="email" class="form-control" id="mail" formControlName="mail" placeholder="Entrer votre mail" required>
          </div>
          <div class="form-group">
            <label for="poids">Poids (kg):</label>
            <input type="number" class="form-control" id="poids" formControlName="poids" placeholder="Entrer votre poids" required>
          </div>
          <div class="form-group">
            <label for="taille">Taille (m):</label>
            <input type="number" step="0.01" class="form-control" formControlName="taille" id="taille" placeholder="Entrer votre taille" required>
          </div>
          <div class="form-group">
            <label for="assurance">Numéro d'Assurance:</label>
            <input type="text" class="form-control" id="assurance" formControlName="assurance" placeholder="Entrer votre numéro d'assurance" required>
          </div>
          <div class="form-group">
            <label for="mdp">Mot de passe:</label>
            <input type="text" class="form-control" id="mdp" formControlName="mdp" placeholder="Entrer votre mot de passe" required>
          </div>
          <div class="form-group">
            <label for="mdp-check">Validation mot de passe:</label>
            <input type="text" class="form-control" id="mdp-check" formControlName="mdpCheck" placeholder="Valider votre mot de passe" required>
          </div>
          <button type="submit" class="btn btn-primary">Inscription</button>
        </form>
      </div>
    </div>
  </div>