.hero {
    height: 25% !important;
    --section-padding: 90px;
    padding-bottom:  20px; ;
    
    
    }
    .hero-card{
        width: 110rem ;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
  
.liste {
    overflow: auto; /* ou overflow: scroll; */
    height: 100%;
}