<app-navbar></app-navbar>
<div class="liste">
<section class="section hero" style="background-image: url('assets/images/hero-bg.png')" aria-label="home">
    <div class="container">

      <div class="hero-content">

        <div class="hero-card">

          <p class="title-lg card-text">
            Search doctors. clinics. hospitals. etc.
          </p>

          <div class="wrapper">

            <div class="input-wrapper title-lg">
              <input type="text" name="location" placeholder="Locations" class="input-field">

              <ion-icon name="location"></ion-icon>
            </div>

            <button class="btn has-before">
              <ion-icon name="search"></ion-icon>

              <span class="span title-md" routerLink="/liste-medecins">Find Now</span>
            </button>

          </div>

        </div>

      </div>

    </div>
  </section> 
  <section class="section blog" aria-labelledby="blog-label">
    <div class="container">

      <p class="section-subtitle title-lg text-center revealed" id="blog-label" data-reveal="bottom">
        News & Article
      </p>

      <h2 class="section-title headline-md text-center revealed" data-reveal="bottom">Latest Articles</h2>

      <ul class="grid-list">

        <li *ngFor="let m of medecins; let i=index;">
          <div class="blog-card has-before has-after revealed" data-reveal="bottom">

            <div class="meta-wrapper">

              <div class="card-meta">
                <ion-icon name="person-outline"></ion-icon>

                <span class="span"> {{m.nom}} </span>
                <span class="span"> {{m.prenom}} </span>
              </div>

              <div class="card-meta">
                <ion-icon name="folder-outline"></ion-icon>

                <span class="span">{{m.specialite}}</span>
              </div>

            </div>

            <h3 class="headline-sm card-title"><strong>address:</strong>{{m.adresse}}</h3>
            <h3 class="headline-sm card-title"><strong>ville:</strong>{{m.ville}}</h3>

            <time class="title-sm date" datetime="2022-01-28">Conventionné secteur 1</time>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat
            </p>

            <a href="#" class="btn-text title-lg">Prendre rendez-vous</a>

          </div>
        </li>

        <!-- <li>
          <div class="blog-card has-before has-after revealed" data-reveal="bottom">

            <div class="meta-wrapper">

              <div class="card-meta">
                <ion-icon name="person-outline"></ion-icon>

                <span class="span">By Admin</span>
              </div>

              <div class="card-meta">
                <ion-icon name="folder-outline"></ion-icon>

                <span class="span">Specialist</span>
              </div>

            </div>

            <h3 class="headline-sm card-title">Give children more autonomy during the pandemic</h3>

            <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat
            </p>

            <a href="#" class="btn-text title-lg">Read More</a>

          </div>
        </li> -->

        <!-- <li>
          <div class="blog-card has-before has-after revealed" data-reveal="bottom">

            <div class="meta-wrapper">

              <div class="card-meta">
                <ion-icon name="person-outline"></ion-icon>

                <span class="span">By Admin</span>
              </div>

              <div class="card-meta">
                <ion-icon name="folder-outline"></ion-icon>

                <span class="span">Specialist</span>
              </div>

            </div>

            <h3 class="headline-sm card-title">How do binge eating and drinking impact the liver?</h3>

            <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat
            </p>

            <a href="#" class="btn-text title-lg">Read More</a>

          </div>
        </li> -->

      </ul>

    </div>
  </section>


  <!-- <section class="section blog" aria-labelledby="blog-label">
    <div class="container">

      <p class="section-subtitle title-lg text-center" id="blog-label" data-reveal="bottom">
        News & Article
      </p>

      <h2 class="section-title headline-md text-center" data-reveal="bottom">Latest Articles</h2>

      <ul class="grid-list">

        <li>
          <div class="blog-card has-before has-after" data-reveal="bottom">

            <div class="meta-wrapper">

              <div class="card-meta">
                <ion-icon name="person-outline"></ion-icon>

                <span class="span">By Admin</span>
              </div>

              <div class="card-meta">
                <ion-icon name="folder-outline"></ion-icon>

                <span class="span">Specialist</span>
              </div>

            </div>

            <h3 class="headline-sm card-title">Could intermittent fasting reduce breast cancer</h3>

            <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat
            </p>

            <a href="#" class="btn-text title-lg">prendre un rdv</a>

          </div>
        </li>

        <li>
          <div class="blog-card has-before has-after" data-reveal="bottom">

            <div class="meta-wrapper">

              <div class="card-meta">
                <ion-icon name="person-outline"></ion-icon>

                <span class="span">By Admin</span>
              </div>

              <div class="card-meta">
                <ion-icon name="folder-outline"></ion-icon>

                <span class="span">Specialist</span>
              </div>

            </div>

            <h3 class="headline-sm card-title">Give children more autonomy during the pandemic</h3>

            <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat
            </p>

            <a href="#" class="btn-text title-lg">Read More</a>

          </div>
        </li>

        <li>
          <div class="blog-card has-before has-after" data-reveal="bottom">

            <div class="meta-wrapper">

              <div class="card-meta">
                <ion-icon name="person-outline"></ion-icon>

                <span class="span">By Admin</span>
              </div>

              <div class="card-meta">
                <ion-icon name="folder-outline"></ion-icon>

                <span class="span">Specialist</span>
              </div>

            </div>

            <h3 class="headline-sm card-title">How do binge eating and drinking impact the liver?</h3>

            <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat
            </p>

            <a href="#" class="btn-text title-lg">Read More</a>

          </div>
        </li>

      </ul>

    </div>
  </section> -->
</div>
