.hero {
    height: 50% !important;
    --section-padding: 125px;
    padding-bottom:  50px; ;
    
}
    .hero-card{
        width: 110rem ;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
  
.liste {
    overflow: auto; /* ou overflow: scroll; */
    height: 100%;
}
.blog {
    padding: 50px;

}