<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Formulaire d'inscription</h2>
        <form [formGroup]="registrationFormMedecin" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text"  class="form-control" id="nom" formControlName="nom" placeholder="Entrer votre nom" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text"  class="form-control" id="prenom" formControlName="prenom" placeholder="Entrer votre prénom" required>
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number"  class="form-control" id="age" formControlName="age" placeholder="Entrer votre age" required>
          </div>
          <div class="form-group">
            <label for="sexe">Sexe:</label>
            <select class="form-control" id="sexe" formControlName="sexe" required>
              <option value="homme">Homme</option>
              <option value="femme">Femme</option>
            </select>
          </div>
          <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" class="form-control" id="adresse" formControlName="adresse" placeholder="Entrer votre adresse" required>
          </div>
          <div class="form-group">
            <label for="mail">Mail:</label>
            <input type="email" class="form-control" id="mail" formControlName="mail" placeholder="Entrer votre mail" required>
          </div>
          <div class="form-group">
            <label for="codeINE">Code INE:</label>
            <input type="text" class="form-control" id="codeINE" formControlName="codeINE" placeholder="Entrer votre Code INE" required>
          </div>
          <div class="form-group">
            <label for="specialite">Spécialité:</label>
            <input type="text" class="form-control" id="specialite" formControlName="specialite" placeholder="Entrer votre spécialité" required>
          </div>
          <div class="form-group">
            <label for="prix">Prix:</label>
            <input type="number" class="form-control" id="prix" formControlName="prix" placeholder="Entrer votre prix" required>
          </div>
          <div class="form-group">
            <label for="presentation">Présentation:</label>
            <textarea class="form-control" id="presentation" formControlName="presentation" placeholder="Entrer votre présentation" required></textarea>
          </div>
          <div class="form-group">
            <label for="experience">Expérience:</label>
            <input type="number" class="form-control" id="experience" formControlName="experience" placeholder="Entrer votre expérience" required>
          </div>
          <div class="form-group">
            <label for="heureOuverture">Heure d'ouverture:</label>
            <input type="text" class="form-control" id="heureOuverture" formControlName="heureOuverture" placeholder="Entrer votre heure d'ouverture" required>
          </div>
          <div class="form-group">
            <label for="heureFermeture">Heure de fermeture:</label>
            <input type="text" class="form-control" id="heureFermeture" formControlName="heureFermeture" placeholder="Entrer votre heure de fermeture" required>
          </div>
          <div class="form-group">
            <label for="mdp">Mot de passe:</label>
            <input type="text" class="form-control" id="mdp" formControlName="mdp" placeholder="Entrer votre mot de passe" required>
          </div>
          <div class="form-group">
            <label for="mdp-check">Validation mot de passe:</label>
            <input type="text" class="form-control" id="mdp-check" formControlName="mdpCheck" placeholder="Valider votre mot de passe" required>
          </div>
          <button type="submit" class="btn btn-primary">Inscription</button>
        </form>
      </div>
    </div>
  </div>