
<app-navbar></app-navbar>
<main>
  <article>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col">
          <h2>Formulaire d'inscription</h2>
          <form [formGroup]="registrationFormMedecin" (ngSubmit)="submit()" class="form">
            <div class="form-group">
              <label for="nom">Nom:</label>
              <input type="text"  class="input-field title-lg" id="nom" formControlName="nom" placeholder="Entrer votre nom" required>
            </div>
            <div class="form-group">
              <label for="prenom">Prénom:</label>
              <input type="text"  class="input-field title-lg" id="prenom" formControlName="prenom" placeholder="Entrer votre prénom" required>
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="number"  class="input-field title-lg" id="age" formControlName="age" placeholder="Entrer votre age" required>
            </div>
            <div class="form-group">
              <label for="sexe">Sexe:</label>
              <select class="form-control" id="sexe" formControlName="sexe" required>
                <option value="homme">Homme</option>
                <option value="femme">Femme</option>
              </select>
            </div>
            <div class="form-group">
              <label for="adresse">Adresse:</label>
              <input type="text" class="input-field title-lg" id="adresse" formControlName="adresse" placeholder="Entrer votre adresse" required>
            </div>
            <div class="form-group">
              <label for="mail">Mail:</label>
              <input type="email" class="input-field title-lg" id="mail" formControlName="mail" placeholder="Entrer votre mail" required>
            </div>
            <div class="form-group">
              <label for="codeINE">Code INE:</label>
              <input type="text" class="input-field title-lg" id="codeINE" formControlName="codeINE" placeholder="Entrer votre Code INE" required>
            </div>
            <div class="form-group">
              <label for="specialite">Spécialité:</label>
              <input type="text" class="input-field title-lg" id="specialite" formControlName="specialite" placeholder="Entrer votre spécialité" required>
            </div>
            <div class="form-group">
              <label for="prix">Prix:</label>
              <input type="number" class="input-field title-lg" id="prix" formControlName="prix" placeholder="Entrer votre prix" required>
            </div>
            <div class="form-group">
              <label for="ville">Ville:</label>
              <input type="text" class="input-field title-lg" id="ville" formControlName="ville" placeholder="Entrer votre ville" required>
            </div>
            <div class="form-group">
              <label for="presentation">Présentation:</label>
              <textarea class="input-field title-lg w-100" id="presentation" formControlName="presentation" placeholder="Entrer votre présentation" required></textarea>
            </div>
            <div class="form-group">
              <label for="experience">Expérience:</label>
              <input type="number" class="input-field title-lg" id="experience" formControlName="experience" placeholder="Entrer votre expérience" required>
            </div>
            <div class="form-group">
              <label for="mdp">Mot de passe:</label>
              <input type="text" class="input-field title-lg" id="mdp" formControlName="mdp" placeholder="Entrer votre mot de passe" required>
            </div>
            <div class="form-group">
              <label for="mdp-check">Validation mot de passe:</label>
              <input type="text" class="input-field title-lg" id="mdp-check" formControlName="mdpCheck" placeholder="Valider votre mot de passe" required>
            </div>
            <div class="form-group d-flex justify-content-center align-item-center">
              <button type="submit" class="btn has-before title-md">Inscription</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
  <app-footer></app-footer>
</main>
