@import '@angular/material/prebuilt-themes/indigo-pink.css';
.container{
    margin-bottom: 2rem;
    padding: 2rem;
    overflow-y: auto;
    max-height: 70vh;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

form{
    text-align: center;
}

main {
    height: 100%; /* ou une valeur appropriée */
    overflow: auto; /* ou overflow: scroll; */
    width: 100%;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

option{
  font-size: 14px;
}



