main {
    height: 100%; /* ou une valeur appropriée */
    overflow: auto; /* ou overflow: scroll; */
  }

.message{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 50px;
  font-weight: 400;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul{
  padding: 20px;
  border: 4px solid #056d6e ;
  border-radius: 15px;
  display: inline-flex;
  background-color: #9fd3c7;
}

li{
  width: 500px;
}
