<app-navbar></app-navbar>
<main>
  <div class="container">
    <div class="message" *ngIf="listeRDV.length == 0;">
      <h1>Pas de rendez-vous</h1>
    </div>
      <ul class="grid-list" *ngIf="listeRDV.length != 0;">
          <li *ngFor="let rdv of listeRDV; let i=index;">
              <div class="row">
                  <div class="col-md-12">

                      <div class="blog-card has-before has-after revealed" data-reveal="bottom">
                          <div class="meta-wrapper">
                              <div class="card-meta">
                                  <ion-icon name="person-outline"></ion-icon>
                                  <span class="span">{{listePersonne[i].nom}} {{listePersonne[i].prenom}}</span>
                              </div>
                              <div class="card-meta">
                                  <ion-icon name="folder-outline"></ion-icon>
                                  <span class="span">{{listePersonne[i].specialite}}</span>
                              </div>
                          </div>
                          <h3 class="headline-sm card-title">{{rdv.date}}</h3>
                          <time class="title-sm date" datetime="2022-01-28">{{rdv.horaire}}</time>
                          <p class="card-text">{{rdv.motif}}</p>
                          <a (click)="deleteRDV(listeRDV[i].id)" class="btn-text title-lg">Annuler RDV</a>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>
  <app-footer></app-footer>
</main>
