@import '@angular/material/prebuilt-themes/indigo-pink.css';

.container{
    margin: 2rem;
    padding: 2rem;
}
.container .mt-5{
    margin-top: 30px;
}
h2{
    text-align: center;
}

form{
    text-align: center;
}

main {
    height: 100%; /* ou une valeur appropriée */
    overflow: auto; /* ou overflow: scroll; */
}

.hero {
  background-color: var(--midnight-green);
  --section-padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
