<main>
<app-navbar></app-navbar>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col">
                <h2>Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form">
                    <div class="form-group">
                        <label for="email">Adresse E-mail :</label>
                        <input type="email" class="input-field title-lg" id="email" formControlName="mail" placeholder="Entrez votre adresse e-mail" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input type="password" class="input-field title-lg" id="password" formControlName="mdp" placeholder="Entrez votre mot de passe" required>
                    </div>
                    <div class="form-group d-flex justify-content-center align-item-center">
                        <button type="submit" class="btn has-before title-md">Se connecter</button>
                    </div>
                    <div class="form-group">
                        <p>Vous etes patient ? <a routerLink="/registration">Créer un compte patient</a></p>
                    </div>
                    <div class="form-group">
                        <p>Vous etes médecin ? <a routerLink="/registration-medecin">Créer un compte médecin</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
<app-footer> </app-footer>
</main>
