.header {
    position: fixed ;
    background-color: var(--rich-black-fogra-29);
    animation: headerActive 0.5s ease forwards;
    
  }
  a:hover {
    color: white !important;
    text-decoration: none !important;
}
