<app-navbar></app-navbar> 
<main>
    <article>
        <section class="section hero" style="background-image: url('assets/images/hero-bg.png')" aria-label="home">
            <div class="container">
                <div class="doctorInfo">
                    <div id="userProfile">
                        <div class="row">
                            <div class="col-md-4">
                                <img src={{cuurentDoctorPhoto}} alt="Photo de profil">
                            </div>
                            <div class="col-md-8">
                                <p>Nom: {{CurrentMedecin.nom}} {{CurrentMedecin.prenom}}</p>
                                <p>Email: {{CurrentMedecin.mail}}</p>
                                <p>Adresse: {{CurrentMedecin.adresse}}</p>
                                <p>Années d'expériences: {{CurrentMedecin.experience}}</p>
                                <p>Frais de la consultation: {{CurrentMedecin.prix}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <select required id="dateSelector" [ngModel]="getvalue"
                    (ngModelChange)="onChangeObj($event)">
                      <option value="" selected disabled>Vous cherchez un rendez-vous pour quelle date?</option>
                      <option *ngFor="let date of dateOptions" [value]="date">{{ date }}</option>
                    </select>
                </div>
                <br>
                <div>
                    <select required id="timeSelector"  [ngModel]="getTime" (ngModelChange)="onChangeTime($event)">
                      <option value="" selected disabled>Quelle horaire vous convient?</option>
                      <option [ngValue]="heure" *ngFor="let heure of heuresOptions" value="heure">{{heure}}</option>
                    </select>
                </div>
                <br>
                <div class="input-field">
                    <span class="input-group-text">Motif</span>
                    <textarea class="form-control" aria-label="With textarea" [ngModel]="motif" (ngModelChange)="onChangeMotif($event)"></textarea>
                </div>
                <button (click)="addRDV()" class="btn title-md has-before"> Sauvegarder </button>
            </div>
        </section>
    </article>
</main>

