main {
  height: 100%; /* ou une valeur appropriée */
  overflow: auto; /* ou overflow: scroll; */
}

section {
  padding: 10%;
  padding-left: 0;
 
 
  
}
  
  #userProfile {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: left;
  }
  #userProfile .row {
    height: 80%; /* Utilise la hauteur complète de #userProfile */
    display: flex;
    align-items: center;
  }

  #userProfile img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }

  #userProfile p {
    margin: 0;
  }

  .doctorInfo {
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: var(--radius-12);
    background-color: var(--white);
    box-shadow: var(--shadow-1);
    width: 70vw;
    height: 15vw;
    display: flex;
    margin-top: -20px;
  }



  /* partie selest date */

  select {
    /* color: #005BA6; */
    display: block;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    width: 40%;
  }


  select::before,
  select::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
  }

  select::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: #D6D6D6;
  }

  select::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #D6D6D6;
    top: 55%;
  }
  
  /* select:hover {
    border-right: 3px solid #005BA6;
  } */
  

   /* partie selest date */

  select {
    /* color: #005BA6; */
    display: block;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    width: 100%;
  }


  select::before,
  select::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
  }

  select::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: #D6D6D6;
  }

  select::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #D6D6D6;
    top: 55%;
  }

  select:hover {
    border-right: 3px solid;
  }



		a:link, a:hover, a:visited, a:active {
			text-decoration: none;
		}


    .input-group {
      width: 50%;
    }
    button{
      width: 175%;
    }
  