<app-navbar></app-navbar>
<main>
  <article>
  <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col">
          <h2>Formulaire de modification</h2>
          <form [formGroup]="patientProfileForm" (ngSubmit)="submit()" class="form">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Nom Prénom : {{patient.nom}} {{patient.prenom}}</li>
              <li class="list-group-item">
                <div class="form-group">
                  <label for="age">Age:</label>
                  <input type="number"  class="input-field title-lg" id="age" formControlName="age" placeholder="{{ patient.age }}" required>
                </div>
              </li>
              <li class="list-group-item">Sexe :
                <span *ngIf="patient.sexe==0">Homme</span>
                <span *ngIf="patient.sexe==1">Femme</span>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label for="adresse">Adresse:</label>
                  <input type="text" class="input-field title-lg" id="adresse" formControlName="adresse" placeholder="{{ patient.adresse }}" required>
                </div>
              </li>
              <li class="list-group-item">Mail : {{patient.mail}}</li>

              <li class="list-group-item">
                <div class="form-group">
                  <label for="poids">Poids (kg):</label>
                  <input type="number" class="input-field title-lg" id="poids" formControlName="poids" placeholder="{{ patient.poids }}" required>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label for="taille">Taille (m):</label>
                  <input type="number" step="0.01" class="input-field title-lg" formControlName="taille" id="taille" placeholder="{{ patient.taille }}" required>
                </div>
              </li>
              <li class="list-group-item">Assurance : {{patient.num_assurance}}</li>
              <li class="list-group-item">Mot de passe : {{patient.mdp}}</li>
              </ul>
              <div class="form-group d-flex justify-content-center p-2">
                <button type="submit" class="btn has-before title-md">Sauvegarder</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </article>
  <app-footer></app-footer>
</main>
