<app-navbar></app-navbar>
<main>
<div class="container">
      <div class="row justify-content-center">
          <h1>Profile</h1>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Nom Prénom : {{ medecin.nom }} {{ medecin.prenom }}</li>
                <li class="list-group-item">Age : {{ medecin.age }}</li>
                <li class="list-group-item">Sexe : {{ sexe }}</li>
                <li class="list-group-item">Adresse : {{ medecin.adresse }}</li>
                <li class="list-group-item">Mail : {{ medecin.mail }}</li>
                <li class="list-group-item">Code INE : {{ medecin.codeINE }}</li>
                <li class="list-group-item">Spécialité : {{ medecin.specialite }}</li>
                <li class="list-group-item">Prix : {{ medecin.prix }}</li>
                <li class="list-group-item">Présentation : {{ medecin.presentation }}</li>
                <li class="list-group-item">Ville : {{ medecin.ville }}</li>
                <li class="list-group-item">Expérience : {{ medecin.experience }}</li>
                <li class="list-group-item">Mot de passe : {{ medecin.mdp }}</li>
              </ul>
              <button type="button" class="btn" (click)="modifier()">Modifier le profile</button>
  </div>
</div>
<app-footer></app-footer>
</main>

