<div class="jumbotron">
  <div class="content">
    <h1 class="display-4">Bienvenue à l'Hôpital XYZ</h1>
    <p class="lead">Prenez rendez-vous avec nos médecins qualifiés</p>
    <a class="btn btn-lg btn-login" (click)="rendezVous()" role="button">Se connecter</a>
  </div>
</div>

<div class="container hospital-info">
  <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>À Propos de l'Hôpital XYZ</h2>
        <p>
            Bienvenue à l'Hôpital XYZ, où votre santé est notre priorité. Nous nous engageons à fournir des soins
            de qualité et à offrir une expérience positive à chaque patient.
        </p>
    </div>
</div>

<div class="container hospital-info">
    <div class="row">
        <div class="col-md-6">
            <img src="./assets/img/ezgif.com-video-to-gif-converted (1).gif" alt="GIF hospital" class="img-fluid">
        </div>
        <div class="col-md-6 mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="info-block">
                        <h3>Nombre de Médecins</h3>
                        <p>50+</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="info-block">
                        <h3>Note de Service</h3>
                        <p>4.8/5</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="info-block">
                        <h3>Nombre de Patients</h3>
                        <p>10,000+</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
